*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    overflow-x: hidden;
    background: rgb(255, 236, 213);
    min-height: 100vh;
}
header{
        position: fixed;
        background: linear-gradient(to top, rgb(255, 236, 213), rgb(221, 221, 221));
        top:0;
        width: 100%;
        padding: 30px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
}
.logo{
    color: #3e0a22;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#112434;
    border-radius: 50px;
}
nav li a:hover, nva li a.active{
    color: #fff;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.parallax::before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 110%;
    height: 50px;
    z-index: 1000;
    filter: blur(8px);
    background: linear-gradient(to bottom,rgb(255, 236, 213),  rgb(229, 196, 155));
}
#title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #112434;
}
.content{
    position: relative;
    padding: 50px 100px;
    background: rgb(229, 196, 155);
    color: #fff;
}
.content h2{
    font-size: 3em;
    margin:15px;
}
.content p{
    font-size: 1.2em;
    font-weight: 500;
}

.navbar{
    position: absolute;
    top: 25px; 
    right: 0px;
    margin-right: 60px;
}

.badge-notify{
    background:red;
    position:fixed;
    top: 30px;
    right: 60px;
    border-radius: 50%;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }